{% extends '::base.html.twig' %}

{% block pageHeader %}
    <!-- BEGIN PAGE HEADER-->
    <h3 class="page-title">
        {% block pageTitle %}View Task - {{ task.title }}{% endblock %}
    </h3>

    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li><i class="fa fa-home"></i><a href="/">Home</a><i class="fa fa-angle-right"></i></li>
            <li><a href="{{ path('my_task_index') }}">Tasks</a><i class="fa fa-angle-right"></i></li>
            <li><a href="#">View Task</a></li>
        </ul>
    </div>
    <!-- END PAGE HEADER-->

{% endblock %}

{% block body %}

    <div class="row">

        <div class="col-md-12">

            <div class="tabbable">

                <ul class="nav nav-tabs nav-tabs-lg">
                    <li class="active"><a href="#tab_1" data-toggle="tab">Summary</a></li>
                    <li><a href="#tab_2" data-toggle="tab">Contents</a></li>
                    <li><a href="#tab_3" data-toggle="tab">Images</a></li>
                </ul>

                <div class="tab-content">

                    <div class="tab-pane active" id="tab_1">

                        <div class="row">

                            <div class="col-md-6">

                                <div class="clearfix"></div>

                                <h5>Task Details</h5>
                                <div class="well" style="min-height: 150px;">
                                    {{ task.description }}
                                </div>

                                <h5>References</h5>
                                <div class="well" style="min-height: 150px;">
                                    {{ task.reference }}
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="tab-pane" id="tab_2">

                        <div class="row">

                            <div class="col-md-12">

                                <div class="clearfix"></div>

                                <div class="well" style="min-height: 300px; height: 1000px; overflow: scroll">
                                    {{ task.contents|nl2br }}
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="tab-pane" id="tab_3">

                        <ul class="nav nav-pills">
                            {% for image in task.images %}
                                <li {% if loop.first %}class="active"{% endif %}>
                                    <a href="#image_{{ loop.index }}" data-toggle="tab">Page {{ loop.index }}</a>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="tab-content">

                            {% for image in task.images %}
                                <div class="tab-pane {% if loop.first %}active{% endif %}" id="image_{{ loop.index }}">
                                    <div class="row">
                                        <div class="col-md-6"><img src="{{ image.previewLink }}" style="width: 600px" /></div>
                                        <div class="col-md-6">
                                            <div>{{ image.content|nl2br }}</div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

{% endblock %}